.treatment-record-tile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  align-items: center;
  background-color: rgb(160, 103, 95);
  cursor: pointer;
  border-radius: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 4px;
  transition: transform 0.2s;
}

.treatment-record-tile span {
  font-size: 18px;
  color: white;
  margin-left: 10px;
  text-wrap: nowrap;
  justify-content: start;
}

.treatment-record-tile:hover {
  transform: scale(1.02);
}

.treatment-record-icon {
  color: rgb(43, 10, 6);
  margin-right: 6px;
  margin-top: 1px;
  font-size: 15px;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.delete {
  font-size: 12px;
  padding: 10px;
  margin-right: 0px;
  margin-left: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(102, 64, 59);
  border-radius: 10px;
}

.record-date {
  font-size: 16px !important;
  margin-bottom: 1px;
  width: 85px;
  max-width: 92px;
  min-width: 92px;
  justify-content: start !important;
}