.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.profile-label {
  font-family: "Playwrite GB S", cursive;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.profile-user {
  font-size: 18px;
  color: rgb(88, 22, 33);
  background-color: rgb(214, 103, 121);
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 30px;
  margin-bottom: 20px;
  display: none;
  justify-content: center;
  align-items: center;
}

.profile-username {
  max-width: 225px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-bottom: 1px;
  white-space: pre-wrap;
  word-break: break-all;
}

.sign-in {
  display: none;
}

.sign-out {
  display: none;
}

.no-records {
  opacity: 25%;
  font-size: 18px;
  color: white;
  background-color: rgb(0, 0, 0);
  width: fit-content;
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 30px;
  margin-bottom: 20px;
  text-wrap: break-word;
  display: none;
  overflow-x: hidden;
  text-align: center;
}

.treatment-records-pane {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
