.chat-interface {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 106px);
  width: 100%;
}

.message-panel {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
}

.message {
  border-radius: 12px;
  max-width: 70%;
  width: fit-content;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 9px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  text-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 18px;
  white-space: pre-line;
}

.peer {
  background-color: rgb(236, 236, 236);
  margin-right: auto;
  align-self: flex-start;
}

.user {
  color: white;
  background-color: rgb(214, 103, 121);
  margin-left: auto;
  align-self: flex-end;
}

.input-panel {
  display: flex;
  position: sticky;
  bottom: 0px;
  align-items: center;
  width: 100vw;
  padding: 15px;
  box-sizing: border-box;
  margin-left: -8px;
  margin-bottom: -10px;
  background-color: rgb(169, 116, 109);
  height: 70px;
}

.input-panel input {
  flex-grow: 1;
  box-sizing: border-box;
}

.input-panel button {
  flex-shrink: 0;
  margin-left: 10px;
}

.disabled {
  opacity: 55%;
  cursor: not-allowed;
}

.disabled:hover {
  transform: none;
}

.spinner {
  display: flex;
  margin-left: 8px;
  margin-top: 2px;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.not-typing {
  display: none;
}

.typing {
  display: flex;
}
