.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 8px;
  z-index: 1000;
  margin-bottom: 8px;
  transition: transform 0.2s;
  overflow-x: hidden;
}

.header button {
  margin-left: 10px;
}

.header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(194, 133, 125);
  border-radius: 40px;
  margin-top: 8px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 15px;
}

.header h1 {
  margin-right: 0px;
}

.header h1:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.header h1:active {
  transform: scale(0.98);
}

@media (max-width: 370px) {
  .header {
    transform: scale(0.75);
  }
}

.current-page {
  background-color: rgb(96, 48, 55);
  color: white
}