.intake-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 80px;
  gap: 65px;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 20px;
}

.intake-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-bottom: -22px;
}

.section-label {
  font-family: "Playwrite GB S", cursive;
  font-size: 24px;
  text-align: center;
  margin-bottom: -10px;
  text-wrap: break-word;
}

.intake-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 10px;
}

.intake-field input {
  width: 90vw;
  min-width: 0px;
}

.intake-field select {
  width: 90vw;
  font-size: 18px;
  background-color: white;
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  border: none;
  padding-right: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.intake-field select option {
  color: black;
}

.field-label {
  width: 90vw;
  font-size: 18px;
  margin-left: 4px;
  margin-bottom: 6px;
  font-weight: 500;
  text-wrap: break-word;
}

.options-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  width: 90vw;
  justify-items: start;
}

.option-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.option-item input {
  height: 20px;
  width: 20px;
  min-width: 20px;
  margin-right: 10px;
  accent-color: rgb(109, 44, 35);
}

.option-item label {
  font-size: 16px;
}

.save-button {
  display: none;
  align-self: center;
  padding-right: 20px;
}

.view-only {
  opacity: 0.7;
}