body {
  background-color: rgb(255, 177, 167);
  overflow-x: hidden;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(169, 116, 109);
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 177, 167);
}

button {
  font-size: 18px;
  color: black;
  background-color: white;
  width: fit-content;
  flex-shrink: 0;
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
  margin-left: 10px;
  border-radius: 30px;
  outline: none;
  border: none;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}