body {
  background-color: rgb(255, 177, 167);
  overflow-x: hidden;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(169, 116, 109);
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 177, 167);
}

input {
  min-width: 70px;
  font-size: 18px;
  background-color: white;
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 30px;
  outline: none;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
}

button {
  font-size: 18px;
  color: black;
  background-color: white;
  width: fit-content;
  flex-shrink: 0;
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 30px;
  outline: none;
  border: none;
  transition: transform 0.2s;
  cursor: pointer;
  text-wrap: break-word;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.98);
}

.button-icon {
  margin-right: 10px;
  margin-left: 3px;  
  margin-top: 1px;
}

h1 {
  font-family: "Playwrite GB S", cursive;
  margin: 0px;
  margin-bottom: 3px;
  margin-right: 4px;
  transition: transform 0.2s;
  font-weight: normal;
  text-wrap: nowrap;
}
